.lives-container {
	position: absolute;
	top: 1rem;
	right: 0;
	color: #fff;
	font-size: 2rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	z-index: 40;
	width: 100%;
}

.lives-container svg {
	width: 2rem;
	height: 2rem;
	transition: all 250ms ease-in-out;
}

.lives-container svg.used {
	transform: scale(0.6);
	fill: #80808080;
}
