.game-over-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	font-size: 4rem;
	visibility: hidden;
	opacity: 0;
	transition: all 250ms ease-in-out;
	z-index: 50;
}

.game-over-container.active {
	visibility: visible;
	opacity: 1;
}

.game-over-container h1 {
	margin-bottom: 2rem;
}

.game-over-container .final-score {
	font-size: 3rem;
	margin-bottom: 1rem;
}

.game-over-container .survival-time {
	font-size: 2rem;
	margin-bottom: 2rem;
}
